<app-navbar></app-navbar>

<div class="container my-5 py-5">
    <div class="row">
        <div *ngFor="let platform of _platforms" class="col-12 col-md-6 col-lg-4 rounded mb-3">
            <div class="card">
                <!-- FAVICON.ICO IS A PLACEHOLDER -->
                <img src="favicon.ico" class="card-img-top" alt="..." style="max: width 100px;">
                <div class="card-body">
                    <!-- PLATFORM COMPONENT -->
                    <app-platform [_platform]="platform" (_platformId)="deletePlatform($event)"></app-platform>
                </div>
            </div>
        </div>

        <form class="col-12 col-md-6 col-lg-4 rounded mb-3">
            <div class="card">
                <!-- FAVICON.ICO IS A PLACEHOLDER -->
                <img src="favicon.ico" class="card-img-top" alt="..." style="max: width 100px;">
                <div class="card-body">
                    <!-- ADDING PLATFORM SECTION -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-evenly my-2">
                                <input [ngClass]="{'border border-danger': _isEmpty}" class="form-control" type="text" placeholder="Platform Name"
                                    [(ngModel)]='_platformName' name="platformName">
                            </div>
                            <div class="col-12 d-flex justify-content-evenly my-2">
                                <input [ngClass]="{'border border-danger': _isEmpty}" class="form-control" type="text" placeholder="Platform Username"
                                    [(ngModel)]='_platformUsername' name="platformUsername">
                            </div>

                            <div *ngIf="_isEmpty" class="d-flex justify-content-center text-danger my-2">Please fill out the fields above!</div>

                            <div class="col-12 d-flex justify-content-evenly mt-2">
                                <button type="submit" class="btn btn-success fw-bold" (click)="addPlatform(_platformName, _platformUsername)">Add</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </form>
    </div>
</div>

<!-- INITIAL IDEA -->
<!-- <form class="my-5 py-5">
    <div *ngFor="let platform of _platforms" class="container p-3">
        <div class="row shadow">

            <div class="form-control d-flex py-3">
                <div class="col-1 d-flex justify-content-center align-items-center">
                    <input name="options" ng-control="options" type="radio" value="{{platform.platformId}}" [(ngModel)]="_selectedPlatform">
                </div>

                <div class="col-11">
                    <app-platform [_platform]="platform"></app-platform>
                </div>
                
            </div>
    
        </div>
    
    </div>
</form> -->