<div>
    <form class="container border shadow rounded my-5">
        <div class="row">
            <h2 class="col-12 fw-bolder text-center my-3">Find Your Account</h2>
            <div class="offset-1 col-10 d-flex flex-column my-3">
                Please enter your email to search for your account.
            </div>
            <div class="offset-1 col-10 d-flex flex-column my-3">
                <input [ngClass]="{'border border-danger': !_isValid}" class="form-control" type="text" placeholder="Email" [(ngModel)]='_email' name="email">
            </div>
            <div *ngIf="_doesEmailExist" class="d-flex justify-content-center text-success my-3">Your email was located! Redirecting...
            </div>
            <div *ngIf="!_isValid" class="d-flex justify-content-center text-danger my-3">Please fill out the field above!
            </div>
            <div *ngIf="_doesEmailNotExist" class="d-flex justify-content-center text-danger my-3">Invalid email
            </div>
            <div class="offset-1 col-5 d-flex flex-column my-3">
                <button *ngIf="!_doesEmailExist" type="submit" class="btn btn-primary fw-bold my-3" (click)="forgotPassword(_email)">Search</button>
                <button *ngIf="_doesEmailExist" class="btn btn-primary my-3" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-5 d-flex flex-column my-3">
                <button routerLink="" class="btn btn-secondary fw-bold my-3">Cancel</button>
            </div>
        </div>
    </form>
</div>
