<div>
    <form class="container border shadow rounded my-5">
        <div class="row">
            <h2 class="col-12 fw-bolder text-center my-3">Password Reset</h2>
            <div class="offset-1 col-10 d-flex flex-column my-3">
                <input [ngClass]="{'border border-danger': _password != _confirmPassword}" class="form-control"
                    type="password" placeholder="Password" [(ngModel)]='_password' name="password" required
                    minlength="8">
            </div>
            <div class="offset-1 col-10 d-flex flex-column my-3">
                <input [ngClass]="{'border border-danger': _password != _confirmPassword}" class="form-control"
                    type="password" placeholder="Confirm Password" [(ngModel)]='_confirmPassword' name="confirmPassword"
                    required minlength="8">
            </div>
            
            <div *ngIf="_isEmpty" class="d-flex justify-content-center text-danger my-3">Please fill out the fields
                above!</div>
                <div *ngIf="!_isPasswordMatching" class="d-flex justify-content-center text-danger my-3">Passwords did not match!</div>
            <div *ngIf="_isNewPasswordCreated" class="d-flex justify-content-center text-success my-3">Password successfully changed! Returning back to the login page...</div>
            <div class="offset-3 col-6 d-flex flex-column my-3">
                <button *ngIf="!_isNewPasswordCreated" type="submit" class="btn btn-primary fw-bold my-3"
                    (click)="resetPassword(_password, _confirmPassword)">Submit</button>
                <button *ngIf="_isNewPasswordCreated" class="btn btn-primary my-3" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>
