
<form>
    <div class="card-header form-control row">
    
        <a class="col-12 d-flex justify-content-around text-decoration-none text-body" data-bs-toggle="collapse" href="#cardId{{_platform.platformId}}">
            <span>Platform: {{_platform.platformName}}</span>
            <span>Platform ID: {{_platform.platformUsername}}</span>
        </a>
    </div>
    
    <!-- GAME COMPONENT -->
    <div id="cardId{{_platform.platformId}}" class="collapse">
        <div class="card-body">
            <div class="bg-light fw-bold">
                GAME COMPONENT GOES HERE!
            </div>
        </div>
    </div>
</form>
