<div class="container">
    <div class="row">
        <div class="col-12 mb-1">Platform: {{_platform.platformName}}</div>
        <div class="col-12 mb-1">Platform ID: {{_platform.platformUsername}}</div>
    
        <div class="col-12 d-flex justify-content-evenly mb-1">
            <button type="submit" class="btn btn-primary fw-bold" routerLink="/consoles/{{_platform.platformId}}">View</button>
            <button type="submit" class="btn btn-secondary fw-bold" (click)="editPlatform(_platform.platformId)">Edit</button>
            <button type="submit" class="btn btn-danger fw-bold"
                (click)="deletePlatform(_platform.platformId)">Delete</button>
        </div>
        
    </div>
</div>

<!-- INITIAL IDEA -->
<!-- <form>
    <div class="card-header form-control row">
    
        <a class="col-12 d-flex justify-content-around text-decoration-none text-body" data-bs-toggle="collapse" href="#cardId{{_platform.platformId}}">
            <span>Platform: {{_platform.platformName}}</span>
            <span>Platform ID: {{_platform.platformUsername}}</span>
        </a>
    </div>
    
    <div *ngFor="let game of _games" id="cardId{{_platform.platformId}}" class="collapse">
        <div class="card-body form-control d-flex row">

            <div class="col-1 d-flex- justify-content-center align-items-center">
                <input name="options" ng-control="options" type="radio" value="{{game.gameId}}" [(ngModel)]="_selectedGame">
            </div>

            <div class="col-11 d-flex justify-content-around align-items-center">
                <span>{{game.gameName}}</span>
                <span>{{game.gameStatus}}</span>
            </div>
        </div>
    </div>
    
</form> -->
