<app-navbar></app-navbar>

<form class="my-5 py-5">
    <div class="mb-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-evenly">
                <button type="submit" class="btn btn-secondary fw-bold px-4" (click)="editGame(_selectedGame)">Edit</button>
                <button *ngIf="_gameToEdit > 0" type="submit" class="btn btn-light fw-bold px-4" (click)="resetSelection()">Back</button>
                <button type="submit" class="btn btn-danger fw-bold px-4" (click)="deleteGame(_selectedGame)">Delete</button>
            </div>
        </div>
    </div>   

    <form class="container p-3 shadow">
        <div class="row">
    
            <div class="d-md-flex">
                <div class="col-12 col-md-5 d-flex align-items-center my-2 mx-md-2">
                    <input [ngClass]="{'border border-danger': _isEmpty}" class="form-control" type="text" placeholder="Game Name"
                        [(ngModel)]='_gameName' name="gameName">
                </div>

                <div class="col-12 col-md-5 d-flex align-items-center my-2 mx-md-2">
                    <select [ngClass]="{'border border-danger': _isEmpty}" class="form-control" type="text" placeholder="Game Status"
                        [(ngModel)]='_gameStatus' name="gameStatus">
                        <option value="">Select a Status</option>
                        <option value="Not Started">Not Started</option>
                        <option value="In Progress">In Progress</option>
                        <option value="On-Hold">On-Hold</option>
                        <option value="Dropped">Dropped</option>
                        <option value="Finished">Finished</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>

                <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start align-items-center my-2 mx-md-2">
                    <button class="btn btn-primary fw-bold" type="submit" (click)="addGame(_gameName, _gameStatus)">Add</button>
                </div>
            </div>
        </div>

        
        <div *ngIf="_isEmpty" class="d-flex justify-content-center align-items-center my-2 text-danger">Please fill out the
            fields above!</div>
        
    </form>

    <div class="container p-3">
        <div class="row shadow">
            <div class="d-flex py-3">
                <h5 class="offset-2 col-5">Game</h5>
                <h5 class="col-5">Status</h5>
            </div>
        </div>
    </div>

    <div *ngFor="let game of _games" class="container p-3">
        <div class="row shadow">

            <div class="d-flex py-3">
                <div class="col-1 d-flex justify-content-center align-items-center">
                    <input name="options" ng-control="options" type="radio" value="{{game.gameId}}" [(ngModel)]="_selectedGame">
                </div>

                <div class="col-12">
                    <app-game [_game]="game" [(_isEditting)]="_gameToEdit"></app-game>
                </div>
                
            </div>
    
        </div>
    
    </div>
</form>
